@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application is created to study purpose. this application has been used to learn how to host application in azure, how to publish git copy to azure.</p>
